.lists {
    display: flex;
    flex-direction: row;
}
.lists .card {
    margin-right: 1em;
    height: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}