#list-card {
    margin-bottom: 1em;
    margin-right: unset;
}
span {
    cursor: pointer;
}

#list-card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

